.table{
    margin-bottom:30px;
    td,th{
        padding-left:0;
    }
    td img{
        margin-right:10px;
        top: -1px;
        position: relative;
        width:32px;
        height:32px;
    }
    a:hover{
        color:red !important;
    }
 }
    