@import 'color';
.Subnav{
    background-color:$main;
    ul {
      list-style: none;
      padding-left: 8px;

     li{
        display: inline-block;
        margin-right: 16px;
        padding: 7px 0;
        }
    }

}